.fInput {
  display: inline-flex;
  width: 250px;
  height: $inputs-height;
  label {
    position: relative;
    width: 100%;
    display: flex;
    height: $inputs-height;
    line-height: $inputs-height;
    padding: 0 10px;
    border-radius: $inputs-border-radius;
    border: 1px dashed $inputs-border-color;
    font-size: 0.92em;
    overflow: hidden;
    font-family: monospace;
    line-break: anywhere;
    @include icon-before;
    .fI-detail {
      position: absolute;
      right: 5px;
      top: 50%;
      padding: 1px 2px;
      transform: translateY(-50%);
      line-height: normal;
      border-radius: $inputs-border-radius;
      border: 1px solid rgba(50, 50, 50, 0.3);
      color: #555;
    }
  }
  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    &:focus + label {
      border-color: $inputs-border-active-color;
    }
  }
  &.active {
    label {
      border-style: solid;
    }
  }
  &:hover {
    label {
      background: rgba(50, 50, 50, 0.05);
    }
  }
}

.fI-expand {
  font-family: monospace;
  & > p {
    position: relative;
    padding: 0.5em 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    .fI-detail {
      position: absolute;
      right: 0.3em;
      top: 50%;
      padding: 1px 2px;
      background: $bg-color;
      transform: translateY(-50%);
      line-height: normal;
      border-radius: $inputs-border-radius;
      border: 1px solid rgba(50, 50, 50, 0.3);
      color: #555;
    }
    &:nth-child(even) {
      background: rgba(50, 50, 50, 0.1);
    }
  }
}
